*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    background-color: #ff9a4b;
    height: 50px;
    width: 100%;
}

.box{
    width: 960px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.boxs{
    width: 300px;
    background-color: #eeeeee;
    display: inline-block;
    position: relative;
    padding: 10px;
}

.box-image{
    height: 150px;
    background-size: cover;
    background-position: bottom;

}

.boxs:nth-child(2){
    margin: 0 30px;
}

.box-image1{
    background-image: url(img/flow01.png);
}

.box-image2{
    background-image: url(img/flow02.png);
}

.box-image3{
    background-image: url(img/flow03.png);
}

.boxs h3{
    padding: 15px 0 5px 0;
}

.step{
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 0;
    display: inline-block;
    color: white;
    background-color: #ff9a4b;
}
footer{
    background-color: #aaaaaa;
    height: 50px;
    width: 100%;

}