*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    height: 200px;
}

.box_1{
    background-image: url(img/box1.jpg);
    background-position: center;
    background-size: cover;
}

.box_2{
    background-image: url(img/box2.jpg);
    background-position: center;
    background-size: cover;
}

.box_3{
    background-image: url(img/box3.jpg);
    background-position: center;
    background-size: cover;

}

.box_4{
    background-image: url(img/box4.jpg);
    background-position: center;
    background-size: cover;
}