header{
    height: 50px;
    width: 100%;
    background-color: red;
}

.main-visual{
    height:  500px;
    width: 100%;
    background-color: orange;
}

.main{
    width: 960px;
    background-color: palegreen;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.main-content{
    width: 500px;
    height: 1400px;
    background-color: limegreen;
}

footer{
    height: 100px;
    background-color: blue;
}