*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.head{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 30px 20px;
    background-color: rgb(250, 0, 250);

}

.pink-box{
    background-color: rgb(240, 150, 240);
    height: 70px;
    margin: 0 10px;
    flex-basis: 140px;
}

.pink-box:first-child{
    margin-right: auto;
}

main{
    display: flex;
    justify-content: center;  
}
.sidebar{
    width: 300px;
    background-color: rgb(188, 241, 188);
}
.main-boxs{
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    flex-grow: 1;
    padding: 20px;
    background-color: green;
}
.green-box{
    margin: 10px;
    flex-basis: 200px;
    height: 130px;
    background-color: rgb(219, 219, 27);
}
footer{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(68, 68, 253);
    width: 100%;
    padding: 20px;
    justify-content: center;
}
.blue-box{
    max-width: 600px;
    flex-basis: 45%;
    margin: 10px;
    height: 40px;
    background-color: rgb(138, 189, 247);
}
.blue-box:last-child{
    margin:10px auto
}